<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../resources/styles.css">
</head>
<body>
    <form action="/register" method="POST">
        <input name="username" class="field" type="text" placeholder="username" required><br>
        <input name="fname" class="field" type="text" placeholder="first name" required><br>
        <input name="lname" class="field" type="text" placeholder="last name" required><br>
        <input name="email_address" class="field" type="email" placeholder="e-mail" required><br>
        <input name="password" class="field" type="password" placeholder="password" required><br>
        <input name="confirm_password" class="field" type="password" placeholder="confirm password" required><br>
        <a href="/login">login</a><input name="register-btn" type="submit" class="button">
    </form>
    <% 
    let msg = '';
    if (typeof body != 'undefined') {
        if (body.notify == 1) msg = 'You have successfully registered';
        else if (body.notify == 0) msg = 'The passwords do not match';
    }
    if (msg != '') { %>
        <script> alert("<%= msg %>");</script>
    <%}
    %>
</body>
</html>