<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../resources/styles.css">
</head>
<body>
    <form id="form-login" method="POST" action="">
        <table>
            <tr>
                <td><h6>Username</h6></td>
                <td><input type="text" name="username"> </td>
            </tr>
            <tr>
                <td><h6>Password</h6></td>
                <td><input type="password" name="username"> </td>
            </tr>
            <tr>
                <td>
                    <a href="/register" >register</a>
                </td>
                <td>
                    <button type="submit" >Login</button>
                </td>
            </tr>
        </table>
    </form>
    <script src="/resources/jquery-3.4.1.js"></script>
    <script src="/resources/script.js"></script>
</body>
</html>