<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../resources/styles.css">
</head>

<body>
    <form id="form-login">
        <table>
            <tr>
                <td>
                    <h6>Name</h6>
                </td>
                <td><input type="text" id="inpName" required> </td>
            </tr>
            <tr>
                <td>
                    <h6>Surname</h6>
                </td>
                <td><input type="text" id="inpSurname" required> </td>
            </tr>
            <tr>
                <td>
                    <h6>Age</h6>
                </td>
                <td><input type="number" id="inpAge" required> </td>
            </tr>
            <tr>
                <td>
                    <h6>Email</h6>
                </td>
                <td><input type="email" id="inpEmail" required> </td>
            </tr>
            <tr>
                <td>
                    <h6>Password</h6>
                </td>
                <td><input type="password" id="inpPassword" required> </td>
            </tr>
            <tr>
                <td>
                    <h6>Confirm Password</h6>
                </td>
                <td><input type="password" id="inpConfPassword" required> </td>
            </tr>
            <tr>
                <td><a href="/login">login</a></td>
                <td>
                    <button type="reset">Reset</button>
                    <button type="button" id="submit-button"  " >Register</button>
                </td>
            </tr>
        </table>
    </form>
    <script src="/resources/jquery-3.4.1.js"></script>
    <script src="/resources/script.js"></script>
</body>

</html>